<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="shop">

<head>
	<title>SHOP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.15.4/css/all.css} " />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css} " />
</head>

</head>

<body>
	<div class="mt-4" layout:fragment="cart">

		<div class="card text-center">
			<div class="card-header">
				<div class="row g-2">


					<div class="col-3">
						<a th:href="@{ /admin }" class="w-100 btn btn-secondary btn-block">Articles</a>
					</div>
					<div class="col-3">
						<a th:href="@{ /admin/categories }" class="w-100 btn btn-secondary btn-block">Categories</a>
					</div>

					<div class="col-3">
						<a th:href="@{ /admin/users }" class="w-100 btn btn-secondary btn-block">Users</a>
					</div>

					<div class="col-3">
						<a th:href="@{ /admin/orders }" class="w-100 btn btn-secondary btn-block">Orders</a>
					</div>
				</div>
			</div>

			<section layout:fragment="admin">



				<div class="card-body">
					<!-- <h5 class="card-title">List of articles</h5> -->
					<div class="row g-3">
						<div class="col-6 ">
							<h3 th:text="${listOf}"></h3>

						</div>
						<div class="col-6">
							<div class="col-6">
								<form th:action="@{/admin}" method="GET" class="form-inline input-group">
									<input class="form-control mr-sm-2" name="keyWord" type="search"
										placeholder="Search" aria-label="Search">
									<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
								</form>

							</div>
						</div>

						<table class="mt-2 table table-striped table-bordered table-dark ">
							<thead>
								<tr>
									<th>ID</th>
									<th>DESCRIPTION</th>
									<th>BRAND</th>
									<th>PRICE</th>
									<th>QUANTITY</th>
									<!--									<th>ADD TO CART</th>-->
									<th>DELETE</th>
									<th>UPDATE</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="a:${listArticle}">
									<td th:text="${a.id}">
										</th>
									<td th:text="${a.description}"></td>
									<td th:text="${a.brand}">
										</th>
									<td th:text="${a.price}"></td>
									<td>
										<input type="number" value="1" min="1" max="10" name="quantity"
											th:value="${a.quantity}" />
									</td>
									<!--									<td>-->
									<!--										<a href="#" class="btn btn-success btn-sm">Add to cart</a>-->

									<!--									</td>-->
									<td>
										<a th:href="@{ admin(page=${currentPage}, size=${size}, id=${a.id}) }"
											onclick="return confirm('Are you sure?')"><i
												class="fas fa-trash-alt"></i></a>
									</td>
									<td>
										<a th:href="@{ admin/updateArticleForm(id=${a.id}) }"><i
												class="fas fa-edit"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div>
						<nav aria-label="...">
							<ul class="pagination justify-content-center">


								<li th:class="${currentPage==0 ? 'page-item disabled' : 'page-item'} ">
									<a class="page-link"
										th:href="@{/admin(page=${currentPage-1}, size=${size}, keyWord=${keyWord} ) }">Previous</a>
								</li>

								<li th:each="page,status:${pages}"><a
										th:class="${status.index==currentPage?'btn btn-primary':'btn'  }"
										th:href="@{ /admin(page=${status.index}, size=${size}, keyWord=${keyWord}) }"
										th:text="${status.index }"></a></li>

								<li class="page-item"><a class="page-link"
										th:href="@{ /admin(page=${currentPage+1}, size=${size}, keyWord=${keyWord} )}">Next</a>
								</li>
								<li class="page-item"><a class="page-link"
										th:href="@{/admin(page=${totalPages-1}, size=${size}, keyWord=${keyWord} )}">Last</a>

								</li>
							</ul>
						</nav>
					</div>
					<div class="card-footer text-muted">
						<a th:href="@{admin/saveArticleForm}" class="btn btn-secondary btn-lg">Add new article</a>
					</div>

			</section>

		</div>

	</div>




	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</body>

</html>