<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="shop">

<head>
	<title>SHOP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css} " />
</head>

</head>

<body>
	<div class="mt-4" layout:fragment="cart">

		<div class="card text-center">
			<div class="card-header">
				<h1>My Cart</h1>
			</div>

			<div class="card-body">
				<table class="table table-dark table-striped table-hover">
					<thead>
						<tr>
							<th>DESCRIPTION</th>
							<th>QUANTITY</th>
							<th>PRICE</th>
							<th>WITHDRAW</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ca:${cartArticles}">
							<td th:text="${ca.description}"></td>
							<td th:text="${ca.quantity}"></td>
							<td th:text="${ca.price}"></td>
							<td>
								<a th:href="@{ /shop/cart(idToRm=${ca.id})}" class="btn btn-danger btn-block"><svg
										xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-trash" viewBox="0 0 16 16">
										<path
											d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
										<path fill-rule="evenodd"
											d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
									</svg></a>
							</td>
						</tr>
					</tbody>
					<tr class="bg-success">
						<td>Total</td>
						<td></td>
						<td th:text="${totalPrice}"></td>
						<td></td>
					</tr>
				</table>
			</div>
			<div class="card-footer text-muted">
				<a th:href="@{/login}" class="btn btn-secondary btn-block">Validate cart !!</a>
				<a th:href="@{/shop}" class="btn btn-secondary btn-block">Continue shoping !!</a>
			</div>
		</div>

	</div>




	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</body>

</html>