<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin">

<head>
	<title>SHOP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css} " />
</head>

</head>

<body>
	<div layout:fragment="admin">
		<div class="card text-center">






			<div class="card-body">
				<!-- <h5 class="card-title">List of articles</h5> -->
				<div class="row g-3">
					<div class="col-6 ">
						<h3>List of categories</h3>

					</div>
					<div class="col-6">
						<form class="form-inline input-group">
							<input class="form-control mr-sm-2" name="catName" type="search" placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
						</form>
					</div>
				</div>
				<table class="mt-2 table table-striped table-bordered table-dark ">
					<thead>
						<tr>
							<th>ID</th>
							<th>CATEGORIE NAME</th>
							<th>DELETE</th>
							<th>UPDATE</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c:${listCategories}">
							<td th:text="${c.id}">
								</th>
							<td><a th:href="@{articlesByCategory(catName=${c.name })}" data-toggle="tooltip" data-placement="top"
									title="See corresponding articles!" class="text-decoration-none" th:text="${c.name}"></a></td>
							<td>
								<a th:href="@{categories(catId=${c.id })}" class="btn btn-danger btn-block"><svg xmlns="http://www.w3.org/2000/svg"
										width="16" height="16" fill="currentColor" class="bi bi-trash"
										viewBox="0 0 16 16">
										<path
											d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
										<path fill-rule="evenodd"
											d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
									</svg></a>
							</td>
							<td>
								<a href="#" class="btn btn-light btn-block"><svg xmlns="http://www.w3.org/2000/svg"
										width="16" height="16" fill="currentColor" class="bi bi-pencil-square"
										viewBox="0 0 16 16">
										<path
											d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
										<path fill-rule="evenodd"
											d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
									</svg></a>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="card-footer text-muted">
					<a th:href="@{categories/saveCategoryForm}" class="btn btn-secondary btn-lg">Add new category</a>
				</div>

				</section>

			</div>

		</div>




		<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</body>

</html>