<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin">

<head>
	<title>SHOP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--	<link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.15.4/css/all.css} " />-->
	 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css" rel="stylesheet" type="text/css" />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css} " />
</head>

</head>

<body>
	<div layout:fragment="admin">
		<div class="card text-center">

			<div class="card-body">
				<!-- <h5 class="card-title">List of articles</h5> -->
				<div class="row g-3">
					<div class="col-6 ">
						<h3 th:text="${listOf}"></h3>

					</div>
					<div class="col-6">
						<form class="form-inline input-group">
							<input class="form-control mr-sm-2" name="catName" type="search" placeholder="Search"
								aria-label="Search">
							<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
						</form>
					</div>
				</div>
				<table class="mt-2 table table-striped table-bordered table-dark ">
					<thead>
						<tr>
							<th>ID</th>
							<th>CATEGORIE NAME</th>
							<th>DELETE</th>
							<th>UPDATE</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c:${listCategories}">
							<td th:text="${c.id}">
								</th>
							<td><a th:href="@{articlesByCategory(catName=${c.name })}" data-toggle="tooltip"
									data-placement="top" title="See corresponding articles!"
									class="text-decoration-none" th:text="${c.name}"></a></td>
							<td>
								<a th:href="@{categories(catId=${c.id }, page=${currentPage}, size=${size})}" onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt"></i>       </a>
							</td>
							<td>
								<a th:href="@{categories/updateCategoryForm(id=${c.id})}"><i class="fas fa-edit"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
				<div>
					<nav aria-label="...">
						<ul class="pagination justify-content-center">


							<li th:class="${currentPage==0 ? 'page-item disabled' : 'page-item'} ">
								<a class="page-link"
									th:href="@{categories(page=${currentPage-1}, size=${size}, catName=${catName} ) }">Previous</a>
							</li>

							<li th:each="page,status:${pages}"><a
									th:class="${status.index==currentPage?'btn btn-primary':'btn'  }"
									th:href="@{ categories(page=${status.index}, size=${size}, catName=${catName}) }"
									th:text="${status.index }"></a></li>

							<li class="page-item"><a class="page-link"
									th:href="@{ categories(page=${currentPage+1}, size=${size}, catName=${catName} )}">Next</a>
							</li>
							<li class="page-item"><a class="page-link"
									th:href="@{categories(page=${totalPages-1}, size=${size}, catName=${catName} )}">Last</a>

							</li>
						</ul>
					</nav>
				</div>
				<div class="card-footer text-muted">
					<a th:href="@{categories/saveCategoryForm}" class="btn btn-secondary btn-lg">Add new category</a>
				</div>

				</section>

			</div>

		</div>




		<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</body>

</html>